body {
    font-family:Arial, Helvetica, Sans-Serif;
    font-size:12px;
    margin:0px 20px;
    /*
    background-image: url(../imgs/titol.png);
    background-repeat: no-repeat;
    */
}
/* menu */
#menu{ margin:0px; padding:0px; list-style:none; color:#fff; line-height:45px; display:inline-block; float:left; z-index:999; }
#menu a { color:#fff; text-decoration:none; z-index:999;}
#menu > li {background:#000000 none repeat scroll 0 0; cursor:pointer; float:left; position:relative;padding:0px 10px;z-index:999;}
#menu > li a:hover {color:#fff;}
#menu .logo {background:transparent none repeat scroll 0% 0%; padding:0px; background-color:Transparent;z-index:999;}
/* sub-menus*/
#menu ul { padding:0px; margin:0px; display:block; display:inline;z-index:999;}
#menu li ul { position:absolute; left:0px; top:0px; margin-top:45px; width:160px; line-height:16px; background-color:#000000; color:#0395CC; /* for IE */ display:none; z-index:999;}
#menu li:hover ul { display:block;z-index:999;}
#menu li ul li{ display:block; margin:5px 20px; padding: 5px 0px;  border-top: dotted 1px #606060; list-style-type:none; }
#menu li ul li:first-child { border-top: none; z-index:999;}
#menu li ul li a { display:block; color:#cccccc; z-index:999;}
#menu li ul li a:hover { color:#ffffff; z-index:999; }
/* main submenu */
#menu #main { left:0px; top:-20px; padding-top:20px; background-color:#7cb7e3; color:#fff; z-index:999; z-index:999;}
/* search */
.searchContainer div { background-color:#fff; display:inline; padding:3px; z-index:999;}
.searchContainer input[type="text"] {border:none; z-index:999;}
.searchContainer img { vertical-align:middle; z-index:999;}
/* corners*/
#menu .last { background:transparent none repeat scroll 0% 0%; margin:0px; padding:0px; border:none; position:relative; border:none; height:0px;}
#menu .corner_left { position:absolute; left:0px; top:0px; z-index:999;}
#menu .corner_right { position:absolute; left:142px; top:0px; z-index:999;}
#menu .middle { position:absolute; left:18px; height: 20px; width: 125px; top:0px; z-index:999;}
